# Assignment Set 2 Solutions - Inspecting Dataframes and Must know operations

In [1]:
import pandas as pd

### Q1. Get the number of rows, columns and datatype each column of the Cars93 dataset.

In [7]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

### Q2. Replace the '.' in column names of cars93 dataset with '_'.

In [5]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

### Q3. Get the min, max, median, count, mean for each numerical column of the Cars93 dataset.

In [11]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

### Q4. Find out the number of cars under each Manufacturer of the Cars93 dataset. Arrange it in descending order

In [13]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

### Q5. Find out the 10 most expensive cars in the Cars93 dataset. Use Price column for it

In [16]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')